<header>
	<h1>No CSS Demo (wip)</h1>

	<nav>
		<ul>
			<li><a href="/stylesheets/site.css" target="_blank">download</a></li>
			<li><a href="https://gitlab.com/organic-web/no-css" target="_blank">readme</a></li>
			<li><a href="https://gitlab.com/organic-web/no-css/issues" target="_blank">help out!</a></li>
		</ul>
	</nav>
</header>

<main>

	<article>

		<h1>No CSS</h1>

		<p>Its a reset! Its a framework! Its... <em>No CSS!</em>. For the times when you'd really rather not bother, just pop this in and you're good to go. Basically, this is a really good looking reset. With semantic markup, it will look awesome. You don't even need to worry about classes.</p>

		<hr />

		<ul>
			<li>This is a list item</li>
			<li>So is this - there could be more</li>
			<li>Make sure to style list items to:
				<ul>
					<li>Not forgetting child list items</li>
					<li>Not forgetting child list items</li>
					<li>Not forgetting child list items</li>
					<li>Not forgetting child list items</li>
				</ul>
			</li>
			<li>A couple more</li>
			<li>top level list items</li>
		</ul>

		<p>Don't forget <strong>Ordered lists</strong>:</p>

		<ol>
			<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
			<li>Aliquam tincidunt mauris eu risus.
				<ol>
					<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
					<li>Aliquam tincidunt mauris eu risus.</li>
				</ol>
			</li>
			<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
			<li>Aliquam tincidunt mauris eu risus.
		</ol>

		<h2>A sub heading which is not as important as the first, but is quite imporant overall</h2>

		<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

		<table>
			<tr>
				<th>Table Heading</th>
				<th>Table Heading</th>
			</tr>
			<tr>
				<td>table data</td>
				<td>table data</td>
			</tr>
			<tr>
				<td>table data</td>
				<td>table data</td>
			</tr>
			<tr>
				<td>table data</td>
				<td>table data</td>
			</tr>
			<tr>
				<td>table data</td>
				<td>table data</td>
			</tr>
		</table>    

			<h3>A sub heading which is not as important as the second, but should be used with consideration</h3>

			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

			<blockquote><p>"Ooh - a blockquote! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est."</p></blockquote>

			<h4>A sub heading which is not as important as the second, but should be used with consideration</h4>

			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

			<pre>
#header h1 a { 
	display: block; 
	width: 300px; 
	height: 80px; 
}
			</pre>

			<h5>A sub heading which is not as important as the second, but should be used with consideration</h5>

			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

			<dl>
				<dt>Definition list</dt>
				<dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
					aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
					commodo consequat.</dd>
				<dt>Lorem ipsum dolor sit amet</dt>
				<dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
					aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
					commodo consequat.</dd>
			</dl>

			<h6>This heading plays a relatively small bit part role, if you use it at all</h6>

			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

		</article>

	</main>

	<footer>
		<nav>
			<ul>
				<li><a href="#">Footer Link</a></li>
				<li><a href="#">Footer Link</a></li>
				<li><a href="#">Footer Link</a></li>
			</ul>
		</nav>

		<span>&copy; 2018 | All Rights Reserved</span>

		<address>
			123 Paper St.<br>
			Wilmington, DE<br>
			03881
		</address>
	</footer>
